.app {
  height: 100%;
  display: flex;
  flex-direction: column;

  header {
    height: 2rem;
    flex: none;
  }

  footer {
    background: steelblue;
    color: white;
    height: 2rem;
    flex: none;
  }
}

.map {
  flex: auto;
}
